{% extends "layout.html" %}
{% block content %}

{% for detail in routerboardDetails %}

<div class="media position-relative">
  <div class="media-body">
    <h5 class="mt-4">
      <h1 class="display-4">{{detail[1]}}
        {% if detail[12] is eq(1) %}
        <span class="badge badge-pill badge-success">API OK</span>
        {% else %}
        <span class="badge badge-pill badge-danger">API</span>
        {% endif %}
      </h1>
    </h5>
    <ul>
      <li>
        <p class="h5">Locality: {{detail[3]}}</p>
      </li>
      <li>
        <p class="h5">IP: {{detail[2]}}</p>
      </li>
      <li>
        <p class="h5">Board Name: {{detail[7]}}</p>
      </li>
      <li>
        <p class="h5">Model: {{detail[10]}}</p>
      </li>
      <li>
        <p class="h5">Architecture: {{detail[8]}}</p>
      </li>
      <li>
        <p class="h5">RouterOS version: {{detail[6]}}</p>
      </li>
      <li>
        <p class="h5">Firmware version: {{detail[9]}}</p>
      </li>
      <li>
        <p class="h5">Serial number: {{detail[11]}}</p>
      </li>
    </ul>

  </div>
  <img src="{{url_for('static', filename=detail[10]+'.jpg', width=100)}}" />
</div>

<div class="container">
  <form action="" method="POST">
    <button type="submit" name="submit" value="reloadApiButton" class="btn btn-warning">Reload API</button>
  </form>
  <p class="font-weight-bold">Api last connected: {{detail[13]}}</p>
</div>


{% endfor %}

{% endblock %}
