{% extends "layout.html" %}
{% block content %}
<div class="container">

  {% for detail in routerboardDetails %}

  <div class="media position-relative">
    <div class="media-body">
      <h5 class="mt-4">
        <h1 class="display-4">{{detail[1]}}
          {% if detail[12] is eq(1) %}
          <span class="badge badge-pill badge-success">API OK</span>
          {% else %}
          <span class="badge badge-pill badge-danger">API</span>
          {% endif %}
        </h1>
        <hr>
      </h5>
      <ul class="detail-list">
        <li class="detail-list-item">
          <i class="detail-list-ico fas fa-map-marker-alt fa-2x"></i>
          <p class="h5"><strong>Locality :</strong><br> {{detail[3]}}</p>
        </li>
        <li class="detail-list-item">
          <i class="detail-list-ico far fa-clipboard fa-2x"></i>
          <p class="h5"><strong>IP :</strong><br> {{detail[2]}}</p>
        </li>
        <li class="detail-list-item">
          <i class="detail-list-ico fas fa-signature fa-2x"></i>
          <p class="h5"><strong>Board Name :</strong><br> {{detail[7]}}</p>
        </li>
        <li class="detail-list-item">
          <i class="detail-list-ico far fa-hdd fa-2x"></i>
          <p class="h5"><strong>Model :</strong><br> {{detail[10]}}</p>
        </li>
        <li class="detail-list-item">
          <i class="detail-list-ico fas fa-puzzle-piece fa-2x"></i>
          <p class="h5"><strong>Architecture :</strong><br> {{detail[8]}}</p>
        </li>
        <li class="detail-list-item">
          <i class="detail-list-ico fab fa-buromobelexperte fa-2x"></i>
          <p class="h5"><strong>RouterOS version :</strong><br> {{detail[6]}}</p>
        </li>
        <li class="detail-list-item">
          <i class="detail-list-ico fas fa-cogs fa-2x"></i>
          <p class="h5"><strong>Firmware version :</strong><br> {{detail[9]}}</p>
        </li>
        <li class="detail-list-item">
          <i class="detail-list-ico fas fa-barcode fa-2x"></i>
          <p class="h5"><strong>Serial number :</strong><br> {{detail[11]}}</p>
        </li>
      </ul>
      <img id="rbimage" src="{{url_for('static', filename='img/routerboards/750UP.jpg')}}" />
      <hr>
    </div>
  </div>

  <form action="" method="POST">
    <button id="reloadApiButton" type="submit" name="submit" value="reloadApiButton" class="btn btn-warning">Reload API</button>
  </form>

  <hr>
  <p class="font-weight-bold">Api last connected, and data reloaded: {{detail[13]}}</p>


  {% endfor %}

</div>
{% endblock %}
